@charset "utf-8";
/* WSU 202005 */

/* 폰트 */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: local('Noto Sans Thin'), local('NotoSans-Thin'),
	url('../fonts/eot/NotoSansKR-Thin-Hestia.eot'),
	url('../fonts/eot/NotoSansKR-Thin-Hestia.eot?#iefix') format('embedded-opentype'),
	url('../fonts/woff/NotoSansKR-Thin-Hestia.woff') format('woff'),
	url('../fonts/otf/NotoSansKR-Thin-Hestia.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans Light'), local('NotoSans-Light'),
	url('../fonts/eot/NotoSansKR-Light-Hestia.eot'),
	url('../fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix') format('embedded-opentype'),
	url('../fonts/woff/NotoSansKR-Light-Hestia.woff') format('woff'),
	url('../fonts/otf/NotoSansKR-Light-Hestia.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 350;
	src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
	url('../fonts/eot/NotoSansKR-DemiLight-Hestia.eot'),
	url('../fonts/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix') format('embedded-opentype'),
	url('../fonts/woff/NotoSansKR-DemiLight-Hestia.woff') format('woff'),
	url('../fonts/otf/NotoSansKR-DemiLight-Hestia.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans Regular'), local('NotoSans-Regular'),
	url('../fonts/eot/NotoSansKR-Regular-Hestia.eot'),
	url('../fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
	url('../fonts/woff/NotoSansKR-Regular-Hestia.woff') format('woff'),
	url('../fonts/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Medium'), local('NotoSans-Medium'),
	url('../fonts/eot/NotoSansKR-Medium-Hestia.eot'),
	url('../fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'),
	url('../fonts/woff/NotoSansKR-Medium-Hestia.woff') format('woff'),
	url('../fonts/otf/NotoSansKR-Medium-Hestia.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans Bold'), local('NotoSans-Bold'),
	url('../fonts/eot/NotoSansKR-Bold-Hestia.eot'),
	url('../fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
	url('../fonts/woff/NotoSansKR-Bold-Hestia.woff') format('woff'),
	url('../fonts/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: local('Noto Sans Black'), local('NotoSans-Black'),
	url('../fonts/eot/NotoSansKR-Black-Hestia.eot'),
	url('../fonts/eot/NotoSansKR-Black-Hestia.eot?#iefix') format('embedded-opentype'),
	url('../fonts/woff/NotoSansKR-Black-Hestia.woff') format('woff'),
	url('../fonts/otf/NotoSansKR-Black-Hestia.otf') format('opentype');
}

/* 요소(element) 여백 초기화  */
html,body,div,h1,h2,h3,h4,h5,h6,p,span,ul,ol,dl,dt,dd,form{margin:0; padding:0;}
body {color:#0B1117; font-size:16px; font-family:'Noto Sans KR',Sans-serif; letter-spacing:-0.5px;font-weight: 300;}
a, a:link { color:inherit; text-decoration: none;}
a:visited { color:inherit; }
a:hover, a:active, a:focus { color:inherit; text-decoration:none; }
img {border:0; vertical-align:top;}
b{font-weight:500;}

/* 목록 */
ol, ul {list-style:none;}

/* 텍스트 관련 요소 초기화 */
address, caption, em, cite {font-weight:normal; font-style:normal;}

/* 테두리 없애기 */
fieldset, img, abbr, acronym { border:none; margin:0; padding:0;} 

/* 테이블 - 마크업에 'cellspacing="0"' 지정 함께 필요 */
table { border-collapse:collapse; border-spacing:0;}

/* 수평선*/
hr { display:none; }

/* 전역클래스 */
.v_hidden{visibility: hidden;}
.hidden {position:absolute; top:-10000em; overflow:hidden; height:0px; width:0px;}
.dt_none {display:none;}
.fl {float:left;}
.fr {float:right;}